<% const dashboardContent = ' ' %>
<%- include('./template', { content: dashboardContent }) %>

<div class="container">
    <h1 class="custom-heading">Dashboard admin</h1>

    <div class="dashboard-container">
        <a class="dashboard-box" href="persetujuan">
            <h3>Permohonan Persetujuan</h3>
            <p><%= countPermohonan %></p>
        </a>
        <a class="dashboard-box" href="riwayat">
            <h3>Riwayat Permintaan Surat</h3>
            <p><%= countRiwayat %></p>
        </a>
        <a class="dashboard-box" href="diterima">
            <h3>Formulir yang Diterima</h3>
            <p><%= countTerima %></p>
        </a>
        <a class="dashboard-box" href="ditolak">
            <h3>Formulir yang Ditolak</h3>
            <p><%= countTolak %></p>
        </a>
    </div>
    
</div>
