<% const riwayatContent = ' ' %>
<%- include('./template', { content: riwayatContent }) %>

<div class="container">
    <h1 class="custom-heading">Riwayat Permintaan Surat Tahun <%= angkatan %>  </h1>
    <div class="dropdown">
        <button class="dropbtn">Angkatan</button>
        <div class="dropdown-content">
            <a href="/admin/riwayat/2017">2017</a>
            <a href="/admin/riwayat/2018">2018</a>
            <a href="/admin/riwayat/2019">2019</a>
            <a href="/admin/riwayat/2020">2020</a>
            <a href="/admin/riwayat/2021">2021</a>
            <a href="/admin/riwayat/2022">2022</a>
        </div>
      </div>
    <table id="data" data = "<%= JSON.stringify(riwayatSurat) %>">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tanggal</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Angkatan</th>
                <th>Surat</th>
                <th>Hapus Surat</th>
                <th>Kirim Lewat Email</th>
            </tr>
        </thead>
        <tbody>
            <% riwayatSurat.forEach((riwayat,index=0) => { %>    
            <tr> 
                <td><%= index+1 %></td>       
                <td><%= riwayat.tanggalDisetujui %></td>
                <td><%= riwayat.User.nama_depan %> <%= riwayat.User.nama_belakang %></td>
                <td><%= riwayat.User.no_identitas %></td>
                <td><%= riwayat.User.angkatan %></td>
                <td>
                    <button>Lihat Surat</button>
                </td>
                <td>
                    <form action="/admin/deletesurat/<%= riwayat.nomorSurat %>/delete" method="post" class="inline">
                        <button onclick="return deleteConfirm()" type="submit" class="text-red-500"><i class="fas fa-trash"></i>Hapus</button>
                    </form>
                </td>
                <td>
                    <a href="#">Send To Email</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
       
    </table>
</div>

<script>
    const url = new URL(window.location.url)
    console.log(url)
</script>