<% const riwayatContent = ' ' %>
<%- include('./template', { content: riwayatContent }) %>

<div class="container">
    <h1 class="custom-heading">Riwayat Permintaan Surat</h1>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa-solid fa-filter"></i> Angkatan</button>
        <div class="dropdown-content">
          <a href="/admin/riwayat/2017">2017</a>
          <a href="/admin/riwayat/2018">2018</a>
          <a href="/admin/riwayat/2019">2019</a>
          <a href="/admin/riwayat/2020">2020</a>
          <a href="/admin/riwayat/2021">2021</a>
          <a href="/admin/riwayat/2022">2022</a>
        </div>
      </div>
    <table id="data" data = "<%= JSON.stringify(riwayatSurat) %>">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tanggal</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Angkatan</th>
                <th>Surat</th>
                <th>Hapus Surat</th>
                <th>Kirim Lewat Email</th>
            </tr>
        </thead>
        <tbody>
            <% riwayatSurat.forEach((riwayat,index=0) => { %>    
            <tr> 
                <td><%= index+1 %></td>       
                <td><%= riwayat.tanggalDisetujui %></td>
                <td><%= riwayat.User.nama_depan %> <%= riwayat.User.nama_belakang %></td>
                <td><%= riwayat.User.no_identitas %></td>
                <td><%= riwayat.User.angkatan %></td>
                <td>
                    <button class="btn">Lihat Surat</button>
                </td>
                <td>
                        <button id="hapus-button<%= index+1 %>" type="button" class="btn" ><i class="fas fa-trash"></i>Hapus</button>
                </td>
                <td>
                    
                    <form action="/admin/kirim-email/<%= riwayat.nomorSurat %>" method="post">
                        <button class="btn" type="submit">Send To Email</button>
                      </form>
                </td>
            </tr>
            <!-- modal hapus -->
            <div id="modalhapus<%= index+1 %>" class="modal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="modal-title">Accepted Confirmation</h2>
                    </div>
                    <div class="modal-body">
                        <p>Apakah Anda yakin menghapus surat ini?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="custom-confirm" >
                            <button id="cancel-accept<%= index+1 %>" type="button" class="cancel-button">Cancel</button>
                            <form action="/admin/deletesurat/<%= riwayat.nomorSurat %>/delete" method="POST">
                                <button id="confirm-accept<%= index+1 %>" type="submit" class="confirm-button">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </tbody>
    </table>
    <script>
        let data = document.getElementById('data').getAttribute('data')
        data = JSON.parse(data)

        console.log(data.length)
              
        for(let i=1;i<=data.length;i++ ){
        // Menampilkan modal saat tombol terima diklik
        document.getElementById(`hapus-button${i}`).addEventListener('click', function() {
                document.getElementById(`modalhapus${i}`).classList.add('show');
            });
            // Menangani klik tombol "terima" di modal
            document.getElementById(`confirm-accept${i}`).addEventListener('click', function() {
                document.getElementById(`accept-form${i}`).classList.add('show');
            });
            // Menangani klik tombol "Cancel" di modal
            document.getElementById(`cancel-accept${i}`).addEventListener('click', function() {
                document.getElementById(`modalhapus${i}`).classList.remove('show');
            });
        }
    </script>
</div>