<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<h1>Profil</h1>
<h1>email: <%= userEmail %></h1>
<h1>nama: <%= userNama %></h1>
<h1>nomor identitas: <%= userNo_Identitas %></h1>
<h1>no hp: <%= userNo_Hp %></h1>
<h1>alamat: <%= userAlamat%></h1>

</body>
</html>