<% const detailRiwayatContent = '' %>
<% const id = user_id %>
<%- include('./template', { content: detailRiwayatContent, user_id: user_id}) %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Permintaan</title>
    <link rel="stylesheet" href="/detail.css"> <!-- Referensi CSS eksternal dari folder public -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-2/0TzUpw/mW7JVRlGh1+ehd12DvcMr2rD9nInWTPiVTv+QGFyf8+JjUzKUpm8kHqVdFez98kE4C4sac6YhUn2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <h2>Detail Permintaan</h2>
        <div class="card">
            <table>
                <tr>
                    <th>Informasi</th>
                    <th>Detail</th>
                </tr>
                <!-- <tr>
                    <td>Nomor</td>
                    <td><%= requestDetail.nomorSurat %></td>
                </tr> -->
                <tr>
                    <td>Tanggal Dikirim</td>
                    <td><%= requestDetail.tanggalDikirim %></td>
                </tr>
                <tr>
                    <td>Penerima</td>
                    <td><%= requestDetail.penerima %></td>
                </tr>
                <tr>
                    <td>Instansi</td>
                    <td><%= requestDetail.instansi %></td>
                </tr>
                <tr>
                    <td>Judul TA</td>
                    <td><%= requestDetail.judulTA %></td>
                </tr>
            </table>
        </div>
        <a href="/mahasiswa/riwayatpermintaan" class="btn-back">
            <i class="fas fa-arrow-left"></i> Kembali ke Riwayat Permintaan
        </a>
    </div>
    <script src="https://unpkg.com/preline/dist/preline.js"></script>
</body>

</html>
