<% const riwayatPermintaanDisetujuiContent = '' %>
<%- include('./template', { content: riwayatPermintaanDisetujuiContent }) %>

<body>
    <div class="container mx-auto mt-5">
        <h2 class="text-2xl font-semibold mb-4">Riwayat Permintaan Disetujui</h2>
        <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">Nomor Surat</th>
                        <th class="border border-gray-300 px-4 py-2">Tanggal Dikirim</th>
                        <th class="border border-gray-300 px-4 py-2">Penerima</th>
                        <th class="border border-gray-300 px-4 py-2">Instansi</th>
                        <th class="border border-gray-300 px-4 py-2">Judul TA</th>
                        <th class="border border-gray-300 px-4 py-2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% riwayatPermintaanDisetujui.forEach(function(request) { %>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"><%= request.nomorSurat %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.tanggalDikirim %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.penerima %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.instansi %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.judulTA %></td>
                            <td class="border border-gray-300 px-4 py-2">
                                <a href="/mahasiswa/detailriwayat/<%= request.nomorSurat %>" class="text-blue-500">Detail</a>
                                <a href="/mahasiswa/updateformulir/<%= request.nomorSurat %>" class="text-blue-500">Edit</a>
                                <form action="/mahasiswa/editformulir/<%= request.nomorSurat %>/delete" method="post">
                                    <button onclick="return deleteConfirm() " type="submit">delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/preline/dist/preline.js"></script>
</body>
</html>
<script>
      function deleteConfirm() {
    if (window.confirm("apakah yakinaskdjasld")) {
      return true;
    } else {
      return false;
    }
  }
</script>