<% const riwayatSuratContent = '' %>
<%- include('./template', { content: riwayatSuratContent }) %>

<body>
    <div class="container mx-auto mt-4">
        <h2 class="text-2xl font-semibold mb-4">Riwayat Surat</h2>
        <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th>No.</th>
                        <th class="border border-gray-300 px-4 py-2">Tanggal Dikirim</th>
                        <th class="border border-gray-300 px-4 py-2">Penerima</th>
                        <th class="border border-gray-300 px-4 py-2">Instansi</th>
                        <th class="border border-gray-300 px-4 py-2">Judul TA</th>
                        <th class="border border-gray-300 px-4 py-2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% riwayatSurat.forEach(function(request, index=0) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <!-- <td class="border border-gray-300 px-4 py-2"><%= request.nomorSurat %></td> -->
                            <td class="border border-gray-300 px-4 py-2"><%= request.tanggalDikirim %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.penerima %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.instansi %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.judulTA %></td>
                            
                            <td class="border border-gray-300 px-4 py-2">
                                <% if (request.acceptByAdmin == 1 && request.acceptByKaprodi == 1) { %>
                                    <a href="/data/surat/<%= request.Surat.nama_file %>" target="_blank" class="view-button">
                                        <button type="button">Lihat Surat</button>
                                    </a>
                                    <a href="/data/surat/<%= request.Surat.nama_file %>" download class="download-icon" title="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 512 512">
                                            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                            <path d="M480 352h-128v-128h-192v128h-128l224 160zm0-256v128h32v-128a96 96 0 0 0-96-96h-320a96 96 0 0 0-96 96v128h32v-128a64 64 0 0 1 64-64h320a64 64 0 0 1 64 64z"/>
                                        </svg>
                                    </a>
                                                                     
                                    
                                <% } else { %>
                                    Tidak Tersedia
                                <% } %>
 

                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/preline/dist/preline.js"></script>
</body>
</html>
<script>

</script>