<% const riwayatPermintaanContent = '' %>
<% const id = user_id %>
<%- include('./template', { content: riwayatPermintaanContent, user_id: user_id  }) %>

<body>
    <div class="container mx-auto mt-5">
        <h2 class="text-2xl font-semibold mb-4">Riwayat Permintaan</h2>
        <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">Nomor Surat</th>
                        <th class="border border-gray-300 px-4 py-2">Tanggal Dikirim</th>
                        <th class="border border-gray-300 px-4 py-2">Penerima</th>
                        <th class="border border-gray-300 px-4 py-2">Instansi</th>
                        <th class="border border-gray-300 px-4 py-2">Judul TA</th>
                        <th class="border border-gray-300 px-4 py-2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% riwayatPermintaan.forEach(function(request) { %>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"><%= request.nomorSurat %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.tanggalDikirim %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.penerima %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.instansi %></td>
                            <td class="border border-gray-300 px-4 py-2"><%= request.judulTA %></td>
                            <td class="border border-gray-300 px-4 py-2">
                                <a href="/mahasiswa/detailriwayat/<%= request.nomorSurat %>" class="text-blue-500"><i class="fas fa-info-circle"></i></a>
                                <% if (request.acceptByAdmin!=1) { %>
                                    <a href="/mahasiswa/updateformulir/<%= request.nomorSurat %>" class="text-blue-500"><i class="fas fa-edit"></i></a>

                                    <form action="/mahasiswa/editformulir/<%= request.nomorSurat %>/delete" method="post" class="inline">
                                        <button onclick="return deleteConfirm()" type="submit" class="text-red-500"><i class="fas fa-trash"></i></button>
                                    </form>
                                <% } %>
                                 

                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/preline/dist/preline.js"></script>
</body>
</html>
<script>
      function deleteConfirm() {
    if (window.confirm("apakah yakin akan dihapus?")) {
      return true;
    } else {
      return false;
    }
  }
</script>