<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.title) { %>
        <title>Mahasiswa | <%= title %></title>
    <% } %>
    <link href="/template.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <header>
        <nav class="navbar">
            <div class="notification-icon">
                <i class="fa-solid fa-bell fa-lg"></i>
                <div class="notification-dropdown-content">
                    <div class="notification-header">
                        <h3>Notifikasi</h3>
                    </div>
                    <ul class="notification-content">
                        <% notifikasimhs.forEach(function(notif) { %>
                            <li class="notification-item" data-notif-id="<%= notif.id %>">
                                <div class="profile">
                                    <a href="profile"><img src="/img/profil.png" alt="Foto Profil"></a>
                                    </div> 
                                    <% if (notif.Formulir.acceptByAdmin == 1) { %>
                                        <%= notif.Formulir.User.nama_depan %>, Admin menerima formulir permintaan dengan nomor surat <%= notif.Formulir.nomorSurat %>
                                    <% } else if (notif.Formulir.acceptByAdmin == 2) { %>
                                      <%= notif.Formulir.User.nama_depan %>, Admin menolak formulir permintaan dengan nomor surat <%= notif.Formulir.nomorSurat %> Silahkan ajukan permintaan formulir kembali!!
                                    <% } else { %>
                                        Menunggu proses pemeriksaan permintaan Anda!!!
                                    <% } %>
                                     
                                <% if (notif.isRead == 0) { %>
                                    <div class="indicator"></div>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                    <div>
                    <script>
                        const socket = io("http://localhost:3000");
                        const userId = "<%= user_id %>";
                      
                        socket.on("connect", () => {
                          console.log("Connected to server");
                          socket.emit("join", userId);
                        });
                      
                        socket.on("permintaan_formulir", (data) => {
                          showNotification(data, "formulir");
                        });
                      
                        function showNotification(data, type) {
                          const notificationContainer = document.getElementById("notification-container");
                          const notification = document.createElement("div");
                          notification.className = "notification";
                          notification.innerHTML = `

                          <strong>${data.message}</strong>
                          `;
                          
                          notificationContainer.appendChild(notification);
                      
                          setTimeout(() => {
                            notification.classList.add("notification-fade-out");
                            setTimeout(() => {
                              notificationContainer.removeChild(notification);
                            }, 300);
                          }, 5000);
                        }
                        
                      </script>
                    </div>
                </div>
            </div>
            <div class="profile-dropdown">
                <a href="profil"><img src="/img/profil.png" alt="Foto Profil"></a>
                <div class="profile-dropdown-content">    
                    <a href="profil">Profil Saya </a>
                    <a href="/auth/ubahPassword">Ubah Password</a>
                    <a href="/mahasiswa/panduan">Panduan</a>
                </div>
            </div>
        </nav>   
    </header>
    <aside>
        <div class="sidebar">
            <ul>
                <li><a href="dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
                <li><a href="isiformulir"><i class="fas fa-clipboard"></i> Formulir</a></li>
                <li><a href="riwayatpermintaan"><i class="fas fa-envelope"></i> Permintaan</a></li>
                <li><a href="permintaandisetujui"><i class="fas fa-check-circle"></i> Diterima</a></li>
                <li><a href="permintaanditolak"><i class="fas fa-times"></i> Ditolak</a></li>
                <li><a href="riwayatsurat"><i class="fas fa-history"></i> Riwayat</a></li>
            </ul>
            <form id="logout-form" method="POST" action="/auth/logout">
                <button type="button" class="logout" id="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
            <div id="modal" class="modal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa-solid fa-right-from-bracket" style="color: #333; font-size: 3em; margin-bottom: 10px;"></i>
                        <h2 id="modal-title">Logout Confirmation</h2>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel-logout" type="button" class="cancel-button">Cancel</button>
                        <button id="confirm-logout" type="button" class="confirm-button">Logout</button>
                    </div>
                </div>
            </div>
            <script>
                document.getElementById('logout-button').addEventListener('click', function() {
                    document.getElementById('modal').classList.add('show');
                });

                document.getElementById('confirm-logout').addEventListener('click', function() {
                    document.getElementById('logout-form').submit();
                });

                document.getElementById('cancel-logout').addEventListener('click', function() {
                    document.getElementById('modal').classList.remove('show');
                });
            </script> 
             <script src="/socket.io/socket.io.js"></script>
             <script>
                document.querySelectorAll('.notification-item').forEach(item => {
                  item.addEventListener('click', async (event) => {
                    const notifId = item.getAttribute('data-notif-id');
                    const isRead = item.getAttribute('data-is-read'); 
                    if (isRead === 1) {
                      console.log('Notifikasi sudah dibaca, tidak bisa diklik lagi');
                      return;
                    }
                    try {
                      const response = await fetch(`/admin/notifikasi/${notifId}/read`, {
                        method: 'POST'
                      });
                      if (!response.ok) {
                        throw new Error('Gagal menandai notifikasi sudah dibaca');
                      }
                      const indicator = item.querySelector('.indicator');
                      if (indicator) {
                        indicator.remove();
                      } else {
                        console.warn('Indikator visual tidak ditemukan untuk notifikasi ini');
                      }
                      item.setAttribute('data-is-read', '1');
            
                    } catch (error) {
                      console.error('Terjadi kesalahan:', error);
                      alert('Terjadi kesalahan saat menandai notifikasi');
                    }
                  });
                });
            </script>
        </div>
    </aside>
    <main>
        <%- content %>
    </main>
</body>
</html>
