<% const riwayatContent = ' ' %>
<%- include('./template', { content: riwayatContent }) %>

<div class="container">
    <h1 class="custom-heading">Riwayat Surat</h1>
    <table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Tanggal</th>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>Detail</th>
            <th>Surat</th>
        </tr>
        <tbody>
            <% riwayatSurat.forEach((riwayatSurat, index=0) => { %>
             <tr>
                <td><%= index+1 %></td>
                <td><%= riwayatSurat.tanggalDisetujui %></td>
                <td><%= riwayatSurat.User.no_identitas %></td>
                <td><%= riwayatSurat.User.nama_depan %> <%= riwayatSurat.User.nama_belakang %></td>
                <td>
                    <a class="btn" href="detail/<%=riwayatSurat.nomorSurat %>"><i class="fa-solid fa-circle-info fa-lg"></i>Detail</a>
                </td>
                <td>
                    <% if (riwayatSurat.Surat.nama_file) { %>
                        <a href="/data/surat/<%= riwayatSurat.Surat.nama_file %>" target="_blank" class="btn"></i>Lihat Surat</a>
                    <% } else { %>
                        <p>Surat tidak tersedia</p>
                    <% } %>
                </td>
             </tr>
            <% }) %>
        </tbody>
    </thead>
    </table>
</div>